.game-board{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 6px 0 #beb7b7;
}
.cell{
    box-sizing: border-box;
    background-color: unset;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 71px;
    text-align: center;
    border: 1px solid grey;
    cursor: pointer;
}
.cell:hover{
    background-color: rgba(0, 0, 255, 0.04);
}
.x{
    color: blue;
}
.o{
    color: green;
}
.message{
    margin: 67px auto 14px;
    text-align: center;
    width: 300px;
    height: 34px;
    line-height: 34px;
    background-color: #ffff003d;
    box-shadow: 0 0 6px 0 #beb7b7;
}
.notifications{
    margin: 17px auto;
    text-align: center;
    width: 300px;
    line-height: 34px;

}
.play-again{
    width: 100%;
    cursor: pointer;
    background-color: rgba(21, 194, 0, 0.24);
    color: #4a4a4a;
    box-shadow: 0 0 6px 0 #beb7b7;
    border-radius: 2px;
}
.play-again:hover{
    color: #2e2a2a;
    background-color: #1cff003d;
    box-shadow: 0 0 15px 0 #beb7b7;
    border-radius: 5px;
}
